@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

:root {
  --h1-font-family: "Tangerine", cursive;
  --default-font-family: Georgia, "Times New Roman", Times, serif;
  --primary-color: rgba(39, 33, 66, 0.7);
  --secondary-color: #f8d1d7;
  --context-background-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--h1-font-family);
  font-family: var(--default-font-family);
  background: var(--primary-color);
  color: #000;
}

nav {
  padding: 20px 0;
  margin: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin: 0 10px 0 10px;
  text-decoration: overline;
}

nav li.active a {
  color: var(--secondary-color);
}

nav li.active a:hover {
  color: var(--secondary-color);
}

h1 {
  color: #fff;
  font-family: tangerine;
  font-size: 96px;
}

p {
  font-size: 18px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

footer {
  background: var(--context-background-color);
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 60px auto;
  padding: 40px;
}

footer .social-links a {
  color: var(--secondary-color);
  font-size: 40px;
  margin: 0 10px;
}

.container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.hero {
  text-align: center;
  color: #fff;
  padding: 90px 20px;
}

@media (max-width: 600px) {
  .hero {
    padding: 80px 10px;
  }

  p {
    font-size: 16px;
  }
}

.hero h2 {
  color: var(--secondary-color);
}

.btn:hover {
  background: var(--secondary-color);
  color: #000;
}

.project-images {
  max-width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
}

.featured-projects,
.about-section,
.projects-section {
  background: var(--context-background-color);
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.featured-projects h2 {
  color: #fff;
  margin-top: 10px;
}

.email-link {
  font-size: 18px;
}

.greeting {
  text-align: left;
  padding: 10px;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
  color: var(--secondary-color);
}

.location {
  text-align: right;
  margin-top: 15px;
  margin-right: 10px;
}

.technology-icons {
  color: var(--secondary-color);
  font-size: 28px;
  margin: 0 auto;
}

/* About Page */

.about-section {
  text-align: left;
}
.about-section a {
  color: #fff;
}

/* Projects Page */

p i {
  color: var(--secondary-color);
}

/* Contact Page */

.contact {
  padding: 10px;
}
