@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

body {
  font-family: "Tangerine", cursive;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(39, 33, 66, 0.7);
  color: black;
}

h1 {
  color: white;
  font-family: tangerine;
  font-size: 96px;
}

.container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fa-brands {
  font-size: 26px;
  line-height: 38px;
  margin: 0 10px;
}

.homepage-connect {
  margin-top: 20px;
}

.hero {
  text-align: center;
  color: white;
  border-radius: 20px;
}

.hero h2 {
  color: #ffc0cb;
}
.btn:hover {
  background: #ffc0cb;
  color: black;
}
