@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

:root {
  --h1-font-family: "Tangerine", cursive;
  --default-font-family: Georgia, "Times New Roman", Times, serif;
  --primary-color: rgba(39, 33, 66, 0.7);
  --secondary-color: #ffc0cb;
  --context-background-color: rgba(255, 255, 255, 0.7);
}

body {
  font-family: var(--h1-font-family);
  font-family: var(--default-font-family);
  background: var(--primary-color);
  color: #000;
}

h1 {
  color: #fff;
  font-family: tangerine;
  font-size: 96px;
}

p {
  font-size: 18px;
}

.container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fa-brands {
  font-size: 26px;
  line-height: 38px;
  margin: 0 10px;
}

.homepage-connect {
  margin-top: 20px;
}

.hero {
  text-align: center;
  color: #fff;
  padding: 160px 20px;
}

@media (max-width: 600px) {
  .hero {
    padding: 80px 10px;
  }
}

.hero h2 {
  color: var(--secondary-color);
}

.btn:hover {
  background: var(--secondary-color);
  color: #000;
}

.project-images {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.featured-projects {
  background: var(--context-background-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.featured-projects h2 {
  margin-top: 10px;
}
